
/* body*/
body {
    background: black;
    font-family: 'Italiana', serif;
    margin: 0;
}

/* header */
.topo {
    height: 80px;
   background: linear-gradient(to right, #000000, #32000e, #000000);
    border-bottom: 2px solid rgb(255, 255, 255);
}

nav {
    display: flex;
    
    align-items: center;
    height: 100%;
    padding: 0 40px;
}

/* logo */
.logo {
    color: rgb(247, 203, 9);
    font-size: 28px;
}

/* menu */
ul.menu-esquerda {
    display: flex;
    list-style: none;
    margin: 0 auto;
}

ul li {
    margin-left: 50px;
   
}

ul img {
    width: 28px;
}

/* banner */
.banner{
    height: calc(100vh - 80px); /* Altura da tela menos o pixels: para não sobrar*/

    background-image: url("imagens/Fundo\ .jpeg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 70px;

    position: relative;
    overflow: hidden; /* impede a imagem de passar da linha */
}

/* OVERLAY ESCURO */
.banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.877), rgba(77, 2, 2, 0.247));
}

/* texto */
.banner-text {
    position: relative;
    z-index: 2;
    color: rgb(255, 255, 255);
    max-width: 500px;
}

/* titulo */
.banner-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

/* texto */
.banner-text p {
    font-size: 16px;
    line-height: 1.5;
}